body{
    background-color: #232323;
    margin: 0;
    font-family: "avenir";
}
#main{
    width: 600px;
    margin: 20px auto;

}
h1{
    text-align: center;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    background-color: steelblue;
    margin: 0;
    line-height: 1.1;
    padding: 20px 0;
}
h1 span{
    font-size: 2em;
}

.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 15%;
    transition: background 0.6s;
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
}
.selected{
    color: white;
    background-color: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
}

button:hover{
    color: white;
    background: steelblue;

}
